<h1 id="about_heading">About</h1>
<p>
  After a ten year career in education administration and management, I decided to build my technical skills by attending Epicodus, an intensive programming vocational school. I intend to draw on my experience with collaboration, writing, and education in a new career as a developer. I chose programming because my most important passions are creating, building, and learning.
</p>
<p>
  I've learned that success in programming is all about communication: face-to-face communication between programmers and their colleagues, and written communication in the form of code. I believe that programmers are authors who must write for both human and computer readers.
</p>
