<h1 id="contact_heading">Contact</h1>

{{#paper-content class="md-whiteframe-z4"}}
  {{#paper-list}}
    {{#paper-item class="md-3-line"}}
      <div layout="row" layout-align="space-between center">
        {{paper-icon "email" size=5 primary=true class="contact_icon"}}
        <h3 class="contact_list_heading">ruderjt@gmail.com</h3>
      </div>
    {{/paper-item}}
  {{/paper-list}}
{{/paper-content}}
