<h1 id="contact_heading">Contact</h1>

{{#paper-content class="md-whiteframe-z4"}}
  {{#paper-list}}
    {{#paper-item class="md-3-line"}}
      <a href="mailto:ruderjt@gmail.com">
      <div layout="row" layout-align="space-between center">
        {{paper-icon "email" size=5 primary=true class="contact_icon"}}
        <h3 class="contact_list_heading">Email</h3>
      </div>
      </a>
    {{/paper-item}}
    {{#paper-item class="md-3-line"}}
      <a href="https://github.com/JeffreyRuder" target="_blank">
      <div layout="row" layout-align="space-between center">
        {{paper-icon "code" size=5 primary=true class="contact_icon"}}
        <h3 class="contact_list_heading">GitHub</h3>
      </div>
      </a>
    {{/paper-item}}
    {{#paper-item class="md-3-line"}}
      <a href="https://linkedin.com/in/jeffreyruder" target="_blank">
      <div layout="row" layout-align="space-between center">
        {{paper-icon "share" size=5 primary=true class="contact_icon"}}
        <h3 class="contact_list_heading">LinkedIn</h3>
      </div>
      </a>
    {{/paper-item}}
  {{/paper-list}}
{{/paper-content}}
