<h1 id="education_heading">Education</h1>

{{#paper-content class="md-whiteframe-z4"}}
  {{#paper-list}}
    {{#paper-item class="md-3-line"}}
      <a href="http://www.epicodus.com" target="_blank">
      <div layout="row" layout-align="space-between center">
        {{paper-icon "code" size=5 primary=true class="contact_icon"}}
        <span class="contact_list_heading"><h3>Epicodus</h3><h4> Java/JavaScript/Android</h4></span>
      </div></a>
    {{/paper-item}}
    {{#paper-item class="md-3-line"}}
      <a href="http://education.indiana.edu/graduate/programs/hesa/" target="_blank">
      <div layout="row" layout-align="space-between center">
        {{paper-icon "school" size=5 primary=true class="contact_icon"}}
        <span class="contact_list_heading"><h3>Indiana University</h3><h4>Master of Science in Education</h4></span>
      </div></a>
    {{/paper-item}}
    {{#paper-item class="md-3-line"}}
      <a href="http://www.utexas.edu/" target="_blank">
      <div layout="row" layout-align="space-between center">
        {{paper-icon "school" size=5 primary=true class="contact_icon"}}
        <span class="contact_list_heading"><h3>The University of Texas</h3><h4>Bachelor of Arts</h4></span>
      </div></a>
    {{/paper-item}}
  {{/paper-list}}
{{/paper-content}}
