<h1 id="experience_heading">Work Experience</h1>

{{#paper-content class="md-whiteframe-z4"}}
  {{#paper-list}}
    {{#paper-item class="md-3-line"}}
      <div layout="row" layout-align="space-between center">
        {{paper-icon "computer" size=5 accent=true class="contact_icon"}}
        <span class="contact_list_heading">
            <h3>Student Retention &amp; Success Manager</h3>
            <h4>Oregon State University - Ecampus</h4>
            <h5>2015 - 2016</h5>
            <p>
              Data analysis and visualization with Excel, Access, Tableau. Wrote and presented on online student academic success. Managed team of 3 success counselors.
            </p>
        </span>
      </div>
    {{/paper-item}}

    {{#paper-item class="md-3-line"}}
      <div layout="row" layout-align="space-between center">
        {{paper-icon "local-pharmacy" size=5 accent=true class="contact_icon"}}
        <span class="contact_list_heading">
            <h3>Academic Advisor</h3>
            <h4>Oregon State University - College of Pharmacy</h4>
            <h5>2011 - 2015</h5>
            <p>
              Designed and implemented new educational programs, including a career development curriculum. Managed application processes for over 700 Pharm.D. and MBA applicants each year. Designed new online admissions processes and interview procedures. Advisor for over 400 students, helping maintain on-time graduation rates of over 95%.
            </p>
        </span>
      </div>
    {{/paper-item}}

    {{#paper-item class="md-3-line"}}
      <div layout="row" layout-align="space-between center">
        {{paper-icon "account-balance" size=5 accent=true class="contact_icon"}}
        <span class="contact_list_heading">
            <h3>Assistant Director</h3>
            <h4>Miami University - Honors Program</h4>
            <h5>2008 - 2011</h5>
            <p>Helped design a new learning-centered education plan for honors students, replacing the university's traditional general education requirements. Designed a student electronic portfolio structure and portfolio assessment process successfully used by about 2000 students. Recruited applicants for prestigious scholarships. Taught courses on research methods and student success strategies.</p>
        </span>
      </div>
    {{/paper-item}}

  {{/paper-list}}
{{/paper-content}}
