<h1 id="experience_heading">Work Experience</h1>

{{#paper-content class="md-whiteframe-z4"}}
  {{#paper-list}}
    {{#paper-item class="md-3-line"}}
      <div layout="row" layout-align="space-between center">
        <a href="http://developmentnow.com" target="_blank">
          {{paper-icon "code" size=5 accent=true class="contact_icon"}}
          <span class="contact_list_heading">
              <h3>Developer Intern</h3>
              <h4>DevelopmentNow</h4>
              <h5>Present</h5>
              <ul class="resume-list">
                <li>Creating a React/Redux image sharing application driven by a RESTful API and AJAX / JSON functionality.</li>
                <li>Applying Agile development methodologies, including iterative development in a short timeframe.</li>
                <li>Collaborating with designers, developers, and project managers in a fast-paced digital agency environment.</li>
              </ul>
          </span>
        </a>
      </div>
    {{/paper-item}}

    {{#paper-item class="md-3-line"}}
      <div layout="row" layout-align="space-between center">
        {{paper-icon "computer" size=5 accent=true class="contact_icon"}}
        <span class="contact_list_heading">
            <h3>Student Retention &amp; Success Manager</h3>
            <h4>Oregon State University - Ecampus</h4>
            <h5>2015 - 2016</h5>
            <ul class="resume-list">
              <li>Analysis and visualization of data on online student success.</li>
              <li>Managed team of 3 success counselors.</li>
              <li>Led development and approval of strategic plan to double team size.</li>
              <li>Analyzed ROI of team expansion, demonstrating that each counselor brought in $50,000 annually in tuition revenue.</li>
              <li>Wrote content for online orientation curriculum.</li>
            </ul>
        </span>
      </div>
    {{/paper-item}}

    {{#paper-item class="md-3-line"}}
      <div layout="row" layout-align="space-between center">
        {{paper-icon "local-pharmacy" size=5 accent=true class="contact_icon"}}
        <span class="contact_list_heading">
            <h3>Academic Advisor</h3>
            <h4>Oregon State University - College of Pharmacy</h4>
            <h5>2011 - 2015</h5>
            <ul class="resume-list">
              <li>Advised 200 to 300 Doctor of Pharmacy students per year.</li>
              <li>Helped maintain 95% on-time graduation rate for Doctor of Pharmacy students.</li>
              <li>Designed online pharmacy school supplemental application.</li>
              <li>Recruited 600 prospective students through presentations, social media, email marketing.</li>
              <li>Taught course on career pathways in pharmacy.</li>
            </ul>
        </span>
      </div>
    {{/paper-item}}

    {{#paper-item class="md-3-line"}}
      <div layout="row" layout-align="space-between center">
        {{paper-icon "account-balance" size=5 accent=true class="contact_icon"}}
        <span class="contact_list_heading">
            <h3>Assistant Director</h3>
            <h4>Miami University - Honors Program</h4>
            <h5>2008 - 2011</h5>
            <ul class="resume-list">
              <li>Helped develop learning-centered general education plan for honors students.</li>
              <li>Designed online portfolio templates and assessment process for 1600 students.</li>
              <li>Recruited and advised students applying for prestigious scholarships. </li>
              <li>Taught courses on inquiry, engaged learning, and strategies for college success.</li>
            </ul>
        </span>
      </div>
    {{/paper-item}}

  {{/paper-list}}
{{/paper-content}}
