{{#if selectedSkills.skills}}
  <h1>Projects demonstrating {{skill-selection-pluralizer 'this' length}} {{skill-selection-pluralizer 'skill' length}}</h1>
{{/if}}

{{#each model.projects as |project|}}
  {{project-tile project=project}}
{{/each}}
