<h1>What skills does your team need?</h1>

<div class="skill-select-area">

  <div layout-gt-md="row">
    <div class="available-skills" flex="49">
      {{#each availableSkills as |skill|}}
        {{skill-drag-tile skill=skill content=skill.id}}
      {{/each}}
    </div>

    <div class="selected-skills" flex="49">
      {{#skill-dropzone selectSkill="selectSkill" removeSkill="removeSkill"}}
        {{#each selectedSkills.skills as |selected|}}
          {{skill-mini-tile selected=selected removeSkill="removeSkill" class="mini-skill"}}
        {{/each}}
      {{/skill-dropzone}}
    </div>
  </div>
</div>
