<h1>What skills does your team need?</h1>

<div class="skill-select-area">
  <div layout="row">
    <div class="available-skills" flex="49">
      {{#each skills as |skill|}}
        {{#skill-drag-tile content=skill.id}}
          {{skill-card-image skill}}
        {{/skill-drag-tile}}
      {{/each}}
    </div>

    <div class="selected-skills" flex="49">
      {{#skill-dropzone selectSkill="selectSkill"}}
        {{#each selectedSkills.skills as |selected|}}
          {{selected.name}}
        {{/each}}
      {{/skill-dropzone}}
    </div>
  </div>
</div>
