$default-margin : 20px;

$primary: "blue";
$accent: "orange";

@import 'ember-paper';

.main-content {
  max-width: 65%;
}

a {
  text-decoration: none;
  color: $base-color;
}

.skill-card-image {
  height: 100px;
  width: 100px;
  margin: 0;
}

.mini-skill {
  padding: $default-margin /2 $default-margin /2;
  margin: $default-margin /4;
  display: inline-flex;

  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: white;
  box-shadow: $whiteframe-shadow-z1;
  position: relative;

  .skill-mini-image {
    height: 50px;
    width: 50px;
  }

  .mini-skill-name {
    margin: $default-margin /2;
    color: $base-color;
  }
}

.draggableItem {
   height: 100px;
   width: 100px;
   min-width: $default-margin;
   min-height: $default-margin;
   padding: $default-margin /2;
   margin: $default-margin / 4;

   display: inline-flex;
   justify-content: center;
   align-items: center;

   box-shadow: $whiteframe-shadow-z4;
}

.draggableItem[draggable=true] {
   -khtml-user-drag: element;
   cursor: move;
   &:hover {
     background-color: map-get($color-blue, "50");
   }
}

.selected-tiles {
  min-width: 49%;
}

.draggableDropzone {
  display: block;
  min-height: 150px;
  background-color: map-get($color-blue, "50");
  margin: $default-margin $default-margin /4;
  padding: $default-margin / 2;
  box-shadow: $whiteframe-shadow-z4;
  &.activated {
    border-color: map-get($color-orange, "500");
  }
  &.deactivated {
    border-color: map-get($color-blue, "500");
  }

  .dropzone-instructions {
    text-align: center;
    color: $base-color;
    margin-top: $default-margin;
  }
}

.project-card {
  margin: $default-margin *2 0;
  box-shadow: $whiteframe-shadow-z5;
}

.project-skill-name {
  margin-right: $default-margin;
}

.project-image {
  height: 500px;
  margin: $default-margin;
  box-shadow: $whiteframe-shadow-z4;
}

.contact_icon {
  margin-right: $default-margin;
}

.contact_list_heading {
  h3, h5 {
    margin: 0;
  }
  h4 {
    margin: 0 0 4px 0;
  }
  p {
    margin: 8px 0 16px 0;
  }
}

.info_tile {
  max-width: 425px;
}

.info_tile_wide {
  max-width: 725px;
}

@media (min-width: $layout-breakpoint-md) {
  .selected-tiles {
    min-height: 95%;
  }
}

@media (max-width: $layout-breakpoint-md) {
  .main-content {
    max-width: 100%;
  }
}
